<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAC.Properties.Settings.probaConnectionString" connectionString="Data Source=L418-RA01\SQLEXPRESS;Initial Catalog=proba;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>